.slick-slider {
    padding: 10px 45px;
    height: 800px;
}

.recommended-section {
    background: lightgray;
    padding: 20px;
    height: 85vh;
}

.movie-card {
    margin: 20px 30px 0 20px !important;
    cursor: pointer;
    display: block;
    background-color: whitesmoke !important;
}

.movie-card:hover {
    background-color: white !important;
}

.recommended-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 76vh;
    overflow-y: auto;
    margin-top: -10px;
}
